<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<compilation debug="false" targetFramework="4.0" />
	</system.web>
	<system.webServer>
		<handlers>
			<add name="iisnode1" path="curl.js" verb="*" modules="iisnode" />
			<!--<add name="iisnode2" path="help.js" verb="*" modules="iisnode"/>-->
		</handlers>
        <directoryBrowse enabled="true" />
	</system.webServer>
</configuration>
