
.kit_table_1 .card-body {
    padding: 0px;
}

.kit_table_1 .table-sm thead th {
    font-size: .625rem;
}

.kit_table_1 .table-sm td,
.kit_table_1 .table-sm th {
    padding: 1rem;
}

.kit_table_1 .table tbody td,
.kit_table_1 .table tbody th,
.kit_table_1 .table thead th {
    vertical-align: middle;
}

.kit_table_1 .table td,
.kit_table_1 .table th {
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid #edf2f9;
}

.kit_table_1 .table thead th {
    background-color: #f9fbfd;
    text-transform: uppercase;
    font-size: .8125rem;
    font-weight: 600;
    letter-spacing: .08em;
    color: #95aac9;
    border-bottom-width: 1px;
}
